<div class="solicitud-container">
    <div class="panel-izquierdo">
        <form action="">
            <app-empresa-modal (empresaSeleccionada)="onEmpresaSeleccionada($event)" (busquedaEmpresaRealizada)="onBusquedaEmpresaRealizada($event)"></app-empresa-modal>
            <div>
                <mat-checkbox [(ngModel)]="solicitud.esTemporal" name="esTemporal" id="esTemporal"></mat-checkbox>
                <mat-label>Es Temporal</mat-label>
            </div>
            <div class="fila-dos">
                <mat-form-field>
                    <mat-label>Fecha entrada</mat-label>
                    <input matInput [matDatepicker]="pickerEntrada" [(ngModel)]="solicitud.fechaEntrada"
                        name="fechaEntrada" id="fechaEntrada">
                    <mat-datepicker-toggle matSuffix [for]="pickerEntrada"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEntrada></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fecha salida</mat-label>
                    <input matInput [matDatepicker]="pickerSalida" [(ngModel)]="solicitud.fechaSalida"
                        name="fechaSalida" id="fechaSalida">
                    <mat-datepicker-toggle matSuffix [for]="pickerSalida"></mat-datepicker-toggle>
                    <mat-datepicker #pickerSalida></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="fila-dos">
                <mat-form-field appearance="outline">
                    <mat-label>Hora entrada</mat-label>

                    <mat-select [(ngModel)]="solicitud.horaEntrada" name="horaEntrada">

                        <mat-option *ngFor="let hora of horas" [value]="hora">
                            {{ hora }}
                        </mat-option>

                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Hora salida</mat-label>

                    <mat-select [(ngModel)]="solicitud.horaSalida" name="horaSalida">

                        <mat-option *ngFor="let hora of horas" [value]="hora">
                            {{ hora }}
                        </mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Tipo de solicitud</mat-label>
                    <mat-select matNativeControl [(ngModel)]="solicitud.idTipoSolicitud" name="idTipoSolicitud"
                        id="idTipoSolicitud">
                        <mat-option *ngFor="let tipo of tiposSolicitud" [value]="tipo.id">{{ tipo.nombre }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="areas-grid">
                <mat-checkbox *ngFor="let area of areas" [checked]="solicitud.areasSeleccionadas.includes(area.id)"
                    (change)="selectArea(area.id, $event.checked)" name="areasSeleccionadas" id="areasSeleccionadas">
                    {{ area.carnet }}
                </mat-checkbox>
            </div>
            <div>
                <button mat-raised-button color="primary" class="btn-guardar" (click)="guardarSolicitud()">Enviar
                    solicitud</button>
            </div>
        </form>
    </div>
    <div class="panel-derecho">
        <app-empleado-modal [idEmpresa]="solicitud.idEmpresa" (empleadosActualizados)="onEmpleadosActualizados($event)" [empresaSeleccionada]="busquedaEmpresaRealizada"></app-empleado-modal>
    </div>
</div>